<?xml version="1.0" encoding="UTF-8"?>   
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <!-- Define the five (mocked) DAO implemention classes
     all these classes reside in the config.dao.mock package
  -->

  <bean id="AirportLocationDAO" class="config.dao.mock.AirportLocationDAOImpl"/>
  <bean id="DVDInfoDAO" class="config.dao.mock.DVDInfoDAOImpl"/>
  <bean id="DVDLocationDAO" class="config.dao.mock.DVDLocationDAOImpl"/>
  <bean id="LoanDAO" class="config.dao.mock.LoanDAOImpl"/>
  <bean id="MemberDAO" class="config.dao.mock.MemberDAOImpl"/>

  <bean name="KioskService" class="config.bo.KioskService">
      <constructor-arg>
          <bean factory-bean="AirportLocationDAO" factory-method="getLocationByID">
              <constructor-arg>
                  <value>BUR-2</value>
              </constructor-arg>
          </bean>
      </constructor-arg>
      <property name="dvdInfoDAO">
          <ref local="DVDInfoDAO"/>
      </property>
      <property name="dvdLocationDAO">
          <ref local="DVDLocationDAO"/>
      </property>
      <property name="loanDAO">
           <ref local="LoanDAO"/>
      </property>
      <property name="memberDAO">
          <ref local="MemberDAO"/>
      </property>
  </bean>
</beans>
